---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body { 
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	}

/* Media query for phones */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust the font size for phones */
    }
}
