---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body { 
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

strong, small {
    font-family: 'Open Sans', sans-serif;
}

div {
  line-height: 2;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
	iframe {
		max-width: 100%; 
		width: 100%;
		height: 100%;
	}
}
